<body>

    
    <div class="container">

        <div class="overlay-left">
            <pre>
                "Want a delicious meal 
                but no time? We will 
                deliver it hot and yummy"   
            </pre>
            <div>
                <button class="order-button">Order with Us ➔</button>  
            </div>
            
            
        </div>

        <div class="avatar">
            <a routerLink="/login">
                <img src="../../assets/image.png" alt="FoodBox" />
            </a>
        </div>
        <div class="content">
            <h1>Food Box </h1>
            <p>Satisfying you hunger</p>
        </div>  

        <div class="overlay-right">
            <pre>
                "Food getting delivered 
                at the perfect time is 
                the best feeling ever"
            </pre>
            <div>
                <button class="about-button">About Us ➔</button>
            </div>
        </div>
    </div>
    
    </body>
