h1 {
    color: #333;
}

button {
    padding: 10px 15px;
    background-color: #d7dbd7;
    color: rgb(71, 70, 70);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #dddfdd;
}

#billSummary {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    background-color: #f9f9f9;
}
